<div class="page-container">
  <div class="top-container">
    <div class="buttonArea">
      <button>Load Random Puzzle</button><br class="buttonBr"/>
      <button>Open Puzzle...</button><br/>
      <button>Peek at One Square</button><br/>
      <button>Peek All</button><br/>
      <button>Solve One Square</button><br/>
      <button>Solve Puzzle</button><br/>
      <br/>
      <span><input type="checkbox" />Auto-remove possibilities</span><br/>
    </div>

    <div class="gridArea">
      <table class="grid">
        <tr>
          <td class="thickBorder">
            <table>
              <tr>
                <td class="thinBorder">5</td>
                <td class="thinBorder">3</td>
                <td class="thinBorder">4</td>
              </tr>
              <tr>
                <td class="thinBorder">6</td>
                <td class="thinBorder">7</td>
                <td class="thinBorder">2</td>
              </tr>
              <tr>
                <td class="thinBorder">1</td>
                <td class="thinBorder">9</td>
                <td class="thinBorder">8</td>
              </tr>
            </table>
          </td>
          <td class="thickBorder">
            <table>
              <tr>
                <td class="thinBorder">6</td>
                <td class="thinBorder">7</td>
                <td class="thinBorder">8</td>
              </tr>
              <tr>
                <td class="thinBorder">1</td>
                <td class="thinBorder">9</td>
                <td class="thinBorder">5</td>
              </tr>
              <tr>
                <td class="thinBorder">3</td>
                <td class="thinBorder">4</td>
                <td class="thinBorder">2</td>
              </tr>
            </table>
          </td>
          <td class="thickBorder">
            <table>
              <tr>
                <td class="thinBorder">9</td>
                <td class="thinBorder">1</td>
                <td class="thinBorder">2</td>
              </tr>
              <tr>
                <td class="thinBorder">3</td>
                <td class="thinBorder">4</td>
                <td class="thinBorder">8</td>
              </tr>
              <tr>
                <td class="thinBorder">5</td>
                <td class="thinBorder">6</td>
                <td class="thinBorder">7</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="thickBorder">
            <table>
              <tr>
                <td class="thinBorder">8</td>
                <td class="thinBorder">5</td>
                <td class="thinBorder">9</td>
              </tr>
              <tr>
                <td class="thinBorder">4</td>
                <td class="thinBorder">2</td>
                <td class="thinBorder">6</td>
              </tr>
              <tr>
                <td class="thinBorder">7</td>
                <td class="thinBorder">1</td>
                <td class="thinBorder">3</td>
              </tr>
            </table>
          </td>
          <td class="thickBorder">
            <table>
              <tr>
                <td class="thinBorder">7</td>
                <td class="thinBorder">6</td>
                <td class="thinBorder">1</td>
              </tr>
              <tr>
                <td class="thinBorder">8</td>
                <td class="thinBorder">5</td>
                <td class="thinBorder">3</td>
              </tr>
              <tr>
                <td class="thinBorder">9</td>
                <td class="thinBorder">2</td>
                <td class="thinBorder">4</td>
              </tr>
            </table>
          </td>
          <td class="thickBorder">
            <table>
              <tr>
                <td class="thinBorder">4</td>
                <td class="thinBorder">2</td>
                <td class="thinBorder">3</td>
              </tr>
              <tr>
                <td class="thinBorder">7</td>
                <td class="thinBorder">9</td>
                <td class="thinBorder">1</td>
              </tr>
              <tr>
                <td class="thinBorder">8</td>
                <td class="thinBorder">5</td>
                <td class="thinBorder">6</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="thickBorder">1</td><td class="thickBorder">2</td><td class="thickBorder">3</td>
         </tr>
      </table>
    </div>

  </div><!-- end top-container-->
  <div class="bottom-container">
    <div class="solvedCountArea">
      Solved: 30 of 81
    </div>
    <div class="messageArea">
      No events have occurred yet
    </div>

  </div>
</div>