<h2>Welcome to Yahtzee!</h2>
<div class="rollBoard">
  <table>
    <tr>
      <td>Roll these:</td><td></td><td>Keep these:</td>
    </tr>
    <tr>
      <td><input type="image" src="../assets/D1.bmp" /></td>
      <td><button>Keep&gt;&gt;</button></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><button>&lt;&lt;Roll</button></td>
      <td><input type="image" src="../assets/D2.bmp" /></td>
    </tr>
    <tr>
      <td><input type="image" src="../assets/D3.bmp" /></td>
      <td><button>Keep&gt;&gt;</button></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="image" src="../assets/D4.bmp" /></td>
      <td><button>Keep&gt;&gt;</button></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><button>&lt;&lt;Roll</button></td>
      <td><input type="image" src="../assets/D5.bmp" /></td>
    </tr>
  </table>
</div>
<div class="scoreBoard">
  <table class="scoreBoard">
    <th>Scoring</th>
    <tr>
      <td class="scoringTable">1's</td><td class="scoringTable">0</td>
    </tr>
    <tr>
      <td class="scoringTable">2's</td><td class="scoringTable">0</td>
    </tr>    
    <tr>
      <td class="scoringTable">3's</td><td class="scoringTable">0</td>
    </tr>    
    <tr>
      <td class="scoringTable">4's</td><td class="scoringTable">0</td>
    </tr>    
    <tr>
      <td class="scoringTable">5's</td><td class="scoringTable">0</td>
    </tr>    
    <tr>
      <td class="scoringTable">6's</td><td class="scoringTable">0</td>
    </tr>  
    <tr>
      <td  class="scoringTable" class="thickBorder">Upper Subtotal</td><td class="scoringTable" class="thickBorder">0</td>
    </tr>
    <tr>
      <td  class="scoringTable" class="thickBorder">Bonus</td><td class="scoringTable" class="thickBorder">0</td>
    </tr>
    <tr>
      <td  class="scoringTable" class="thickBorder">Upper Total</td><td class="scoringTable" class="thickBorder">0</td>
    </tr>
    <tr>
      <td class="scoringTable">3 of a Kind</td><td class="scoringTable">0</td>
    </tr>  
    <tr>
      <td class="scoringTable">4 of a Kind</td><td class="scoringTable">0</td>
    </tr>  
    <tr>
      <td class="scoringTable">Full House</td><td class="scoringTable">0</td>
    </tr>
    <tr>
      <td class="scoringTable">Sm Straight</td><td class="scoringTable">0</td>
    </tr>
    <tr>
      <td class="scoringTable">Lg Stright</td><td class="scoringTable">0</td>
    </tr>
    <tr>
      <td class="scoringTable">Yahtzee</td><td class="scoringTable">0</td>
    </tr>
    <tr>
      <td class="scoringTable">Chance</td><td class="scoringTable">0</td>
    </tr>
    <tr>
      <td class="scoringTable" class="thickBorder">Lower Total</td><td class="scoringTable" class="thickBorder">0</td>
    </tr>
    <tr>
      <td class="scoringTable" class="thickBorder">Grand Total</td><td class="scoringTable" class="thickBorder">0</td>
    </tr>
  </table>
</div>